* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  
  #root {
    width: 100%;
  }
  
img{
    margin-top: 50px;
}
  .questions{
    position: relative;
    color:transparent;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size:60px;
    line-height: 90px;
    -webkit-text-stroke: 0.2vw #3a5041;
    bottom:280px;
    left:500px;
    width: 730px;
  }
  .questions:hover{
    color: #88a791;
  }
  .asked {
    font-family: Outfit;
    font-weight: 500;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
  }
  #faq {
    width: 100%;
    margin: 50px auto;
    padding: 0 15px;
    text-align: center;
  }
  
  #faq ul {
    text-align: left;
  }
  #faq h2 {
    color: black;
    font-size: 22px;
    font-weight:400 !important;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    font-weight: 300;
    display: block;
    margin: 0;
     padding-bottom: 10px;
  }
  
  #faq p {
    color: black ;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
    position: relative;
    overflow: hidden;
    max-height: 250px;
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 50px 0 15px;
  }
  
  #faq ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  #faq ul li:hover {
    border: 2px solid red;
  }
  #faq ul li {
    position: relative;
    overflow: hidden;
    /* padding-bottom: 10px; */
    margin: 0;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #BEBFBE;
    margin-top: 15px;
  }
 
  @media only screen and (min-width: 300px) and (max-width: 955px) {
    *{
      width: 100%;
    }
    body {
        font-size: 16px;
        width: 100%;
    }
    img{
      width: 55%;
     margin-left: 100px;
    }
    input{
        border: 1px solid;
        margin-top: 5px;
    }
   
    .questions {
      display: none;
    
    }
     .asked{
      text-align: center;
      margin-top: 20px;
      font-size: 40px;
      margin-bottom: -20;
     }
    #faq h2 {
      font-size: 18px;
    }
  
    #faq p {
      font-size: 17px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 512px){

    header {
      text-align: center;
      width: 100%;
      flex-direction: column;
      height: 180px;
      padding-right: 20px;
      padding-left: 20px;
  }
  header div{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
  }
  header p{
  font-size: 42px;
  padding-top: 15px;
  }
  header div a {
      margin: 10px -14px;
      text-align: center;
      font-size: 25px;
      width: 172px;
  }
  }
  @media screen and (min-width: 513px) and (max-width: 991px) {
    body {
        font-size: 14px; 
    }
    header{
        width: 100%;
        height: 165px;
    }
    header div {
        width: 500px;
    }
}
  @media screen and (min-width: 742px) and (max-width: 991px) {
    header div {
        width: 672px;
    }
   
}
@media screen and (min-width: 850px) and (max-width: 991px) {
   
    header p{
        width: 552px;
    }
}
  @media only screen and (min-width: 955px) and (max-width: 1400px){
 header{
  width: 100%;
 }
 .questions{
  padding-left: 60px;
  width: 40%;
 }
 img{
  margin-left: 100px;
 }
.faq-header{
height: 640px;
}
  }
  @media only screen and (min-width: 1200px) and (max-width: 1400px){
    .questions{
      padding-left: 60px;
      width: 60%;
     }
  }